<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>😠</string>
		<key>shortcut</key>
		<string>&gt;:(</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😠</string>
		<key>shortcut</key>
		<string>&gt;:-(</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😊</string>
		<key>shortcut</key>
		<string>:")</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😊</string>
		<key>shortcut</key>
		<string>:-")</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💔</string>
		<key>shortcut</key>
		<string>&lt;/3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💔</string>
		<key>shortcut</key>
		<string>&lt;\3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😕</string>
		<key>shortcut</key>
		<string>:/</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😕</string>
		<key>shortcut</key>
		<string>:-/</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😢</string>
		<key>shortcut</key>
		<string>:'(</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😢</string>
		<key>shortcut</key>
		<string>:'-(</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😢</string>
		<key>shortcut</key>
		<string>:,(</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😢</string>
		<key>shortcut</key>
		<string>:,-(</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😦</string>
		<key>shortcut</key>
		<string>:(</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😦</string>
		<key>shortcut</key>
		<string>:-(</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>❤️</string>
		<key>shortcut</key>
		<string>&lt;3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👿</string>
		<key>shortcut</key>
		<string>]:(</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👿</string>
		<key>shortcut</key>
		<string>]:-(</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😇</string>
		<key>shortcut</key>
		<string>o:)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😇</string>
		<key>shortcut</key>
		<string>O:)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😇</string>
		<key>shortcut</key>
		<string>o:-)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😇</string>
		<key>shortcut</key>
		<string>O:-)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😇</string>
		<key>shortcut</key>
		<string>0:)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😇</string>
		<key>shortcut</key>
		<string>0:-)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😂</string>
		<key>shortcut</key>
		<string>:')</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😂</string>
		<key>shortcut</key>
		<string>:'-)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😂</string>
		<key>shortcut</key>
		<string>:,)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😂</string>
		<key>shortcut</key>
		<string>:,-)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😂</string>
		<key>shortcut</key>
		<string>:'D</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😂</string>
		<key>shortcut</key>
		<string>:'-D</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😂</string>
		<key>shortcut</key>
		<string>:,D</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😂</string>
		<key>shortcut</key>
		<string>:,-D</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😗</string>
		<key>shortcut</key>
		<string>:*</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😗</string>
		<key>shortcut</key>
		<string>:-*</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😆</string>
		<key>shortcut</key>
		<string>x-)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😆</string>
		<key>shortcut</key>
		<string>X-)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😐</string>
		<key>shortcut</key>
		<string>:|</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😐</string>
		<key>shortcut</key>
		<string>:-|</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😮</string>
		<key>shortcut</key>
		<string>:o</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😮</string>
		<key>shortcut</key>
		<string>:-o</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😮</string>
		<key>shortcut</key>
		<string>:O</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😮</string>
		<key>shortcut</key>
		<string>:-O</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😡</string>
		<key>shortcut</key>
		<string>:@</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😡</string>
		<key>shortcut</key>
		<string>:-@</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😄</string>
		<key>shortcut</key>
		<string>:D</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😄</string>
		<key>shortcut</key>
		<string>:-D</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😃</string>
		<key>shortcut</key>
		<string>:)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😃</string>
		<key>shortcut</key>
		<string>:-)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😈</string>
		<key>shortcut</key>
		<string>]:)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😈</string>
		<key>shortcut</key>
		<string>]:-)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😭</string>
		<key>shortcut</key>
		<string>:,'(</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😭</string>
		<key>shortcut</key>
		<string>:,'-(</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😭</string>
		<key>shortcut</key>
		<string>;(</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😭</string>
		<key>shortcut</key>
		<string>;-(</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😛</string>
		<key>shortcut</key>
		<string>:P</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😛</string>
		<key>shortcut</key>
		<string>:-P</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😎</string>
		<key>shortcut</key>
		<string>8-)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😎</string>
		<key>shortcut</key>
		<string>B-)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😓</string>
		<key>shortcut</key>
		<string>,:(</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😓</string>
		<key>shortcut</key>
		<string>,:-(</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😅</string>
		<key>shortcut</key>
		<string>,:)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😅</string>
		<key>shortcut</key>
		<string>,:-)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😒</string>
		<key>shortcut</key>
		<string>:s</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😒</string>
		<key>shortcut</key>
		<string>:-S</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😒</string>
		<key>shortcut</key>
		<string>:z</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😒</string>
		<key>shortcut</key>
		<string>:-Z</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😒</string>
		<key>shortcut</key>
		<string>:$</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😒</string>
		<key>shortcut</key>
		<string>:-$</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😉</string>
		<key>shortcut</key>
		<string>;)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😉</string>
		<key>shortcut</key>
		<string>;-)</string>
	</dict>
</array>
</plist>
